.forsideimg2 {
  width: 10%;
  height: auto;
}

.grid_1-1 {
  display: flex;
  flex-direction: row;
}

.indexcontainer {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.indeximg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.indexoverlay {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  border-radius: 5px;
}

.overlaytext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(34, 66, 26);
  text-align: center;
  z-index: 3;
}

.overlaytext p {
  font-size: 2em;
  padding-left: 18px;
  padding-bottom: 0.7em;
  font-weight: 400;
}

.overlaytext h4 {
  font-size: 3em;
  font-family: Lexend;
  font-weight: 500;
}

.overlaybtn a {
  display: inline-block;
  padding: 0.7em 1.5em;
  background: #96b931;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.7em;
  transition: background 0.3s;
  font-family: Lexend;
  margin-top: 0.5em;
}

.overlaybtn a:hover {
  background: #0b2d20;
}

.grid_1-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  padding-top: 3em;
}

.gridtext {
  flex: 1;
  width: 50%;
  line-height: 2em;
}

.lottiefile {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: scale(1.2);
}

.video {
  width: 100%;
  height: auto;
  padding: 2em;
  aspect-ratio: 8/4.5;
}

@media (max-width: 800px) {
  .grid_1-1 {
    display: flex;
    flex-direction: column;
  }

  .gridtext {
    width: 100%;
  }
  .lottiefile {
    transform: scale(2);
  }
  h4.forside{
    line-height: 0%;
  }
  p.forside{
    line-height: 100%;
  }
}

@media (max-width: 500px) {
  .lottiefile {
    transform: scale(1.2);
  }

  .indexoverlay {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background: rgba(255, 255, 255, 0.651);
    z-index: 2;
    border-radius: 5px;
  }
}
