.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ordertop {
  order: -2;
}
.ordersecond {
  order: -2;
}

.img-kontakt {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding-left: 30px;
  margin-top: 15px;
}

form {
  margin: 55px;
}

.navn-boks {
  font-family: Lexend;
  font-size: 18px;
  margin-top: 12px;
}

.input-boks {
  width: clamp(200px, 90%, 400px);
  display: block;
  height: 50px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #5d5d5d;
  border-radius: 10px;
  outline: none;
}

.knap {
  font-family: Lexend;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  padding: 14px 40px;
  background-color: #0b2d20;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.knap a:hover {
  cursor: pointer;
}

footer {
  background-color: rgba(255, 248, 240, 1);
}

@media (max-width: 800px) {
  .grid_1-1 {
    grid-template-columns: 1fr;
    display: grid;
  }
}
@media (max-width: 800px) {
  .img-kontakt {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    align-items: center;
  }
}
