@font-face {
  font-family: Lexend;
  src: url(../fonts/Lexend-VariableFont_wght.woff2);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.woff2);
}

@font-face {
  font-family: Montserrat italic;
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.woff2);
}

body {
  background-color: #f6f9f4;
}

/* /* padding-left og margin-top er placeret sådan så det står præcist under logoet, da det skaber mest harmoni og er pænest imo. Tjek kontaktsiden, for at se hvordan det ser ud. - Caro */
h1 {
  font-family: Lexend;
  font-weight: 500;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* /* padding-left og margin-top er placeret sådan så det står præcist under logoet, da det skaber mest harmoni og er pænest imo. Tjek kontaktsiden, for at se hvordan det ser ud. - Caro */
h2 {
  font-family: Lexend;
  font-weight: 500;
  font-size: 25px;
  padding-right: 30px;
  margin-top: 15px;
}

h3 {
  font-family: Lexend;
  font-weight: 500;
  font-size: 25px;
  padding-right: 30px;
  margin-top: 15px;
}

h4 {
  font-family: Lexend;
  font: 17px;
}

h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  padding-right: 30px;
  margin-top: 15px;
}

/* /* padding-left og margin-top er placeret sådan så det står præcist under logoet, da det skaber mest harmoni og er pænest imo. Tjek kontaktsiden, for at se hvordan det ser ud. - Caro */
p {
  font-family: Montserrat;
  font-size: 16px;
  padding-right: 30px;
  margin-top: 15px;
}

footer {
  background-color: #0b2d20;
  padding-top: 1em;
}

.footerGrid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
}

.footertext {
  font-size: 15px;
  padding-left: 0px;
  margin-top: 7px;
}

.MinElevator {
  max-width: 90%;
  height: auto;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-right: 1em;
}

.MinElevator:hover {
  filter: brightness(80%);
}

.MinPlatform {
  max-width: 90%;
  height: auto;
  padding-bottom: 1em;
  padding-right: 1em;
}

.MinPlatform:hover {
  filter: brightness(80%);
}

.MinGruppen {
  max-width: 90%;
  height: auto;
  padding-bottom: 2em;
  padding-right: 1em;
}

.MinGruppen:hover {
  filter: brightness(80%);
}

.MinFirmaer {
  display: flex;
  flex-direction: column;
}

.footerRight {
  display: flex;
  flex-direction: column;
  grid-column: 4/5;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  color: white;
}

.FlexInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  padding-left: 1em;
  padding-top: 1em;
  line-height: 2em;
}

.mailLink {
  color: rgb(158, 222, 74);
  text-decoration: underline;
}

.MinAltan {
  width: 100%;
  height: auto;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 20px;
  border-radius: 50%;
}

.socialIcons a i {
  font-size: 2em;
  color: rgb(16, 45, 16);
  opacity: 0.9;
}

.socialIcons a:hover {
  filter: brightness(70%);
}

.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: smalltext;
  opacity: 0.7;
}

.footerNav ul li a:hover {
  opacity: 1;
}

.footerBottom {
  background-color: rgb(9, 25, 9);
  padding: 2px;
  text-align: center;
  color: white;
}

@media (max-width: 800px) {
  .MinFirmaer {
    display: none;
  }
  .footerGrid {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .MinAltan {
    width: 50%;
    height: auto;
  }
}
